html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.block {
  text-align: center;
}
 
/* The ghost, nudged to maintain perfect centering */
.block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

/* The element to be centered, can
   also be of any width and height */ 
.centered {
  display: inline-block;
  vertical-align: middle;
  margin:0 auto
}

.avatar {
  width: 25px;
  padding-right: 10px;
  float: left;
}

.brand-logo {
  height: 30px;
  padding-right: 10px;
  float: left;
  margin: auto;
}

.sidebar {
  background-color: #dfdfd7;
  left:0;
  min-height: 100%;
  position: relative;
}

.sidebar ul {
  margin: 0;
  list-style-type: none;
}
.sidebar li {
  background: #f2f2ea;
  cursor: pointer;
  margin-top: 1px;
  padding: 18px 42px 17px 25px;
  font-size: 13px;
  font-weight:700;
}
.sidebar li:first-child {
  margin-top: 0;
}
.sidebar li:last-child {
  margin-bottom: 1px;
}
.sidebar-icon {
  float: left;
  font-size: 24px;
  margin: auto;
  padding-right: 25px;
}
.sidebar-content {
  padding-top: 1px;
  overflow: hidden;
  color: #6d6e69;
  font-size: 17px;
  margin: 1px 0 3px;
}

.sidebar li.active {
  background: #e7cd4d;
  cursor: default;
  color: #6d6e69;
}

.sidebar a:hover,
.sidebar a:visited,
.sidebar a:link,
.sidebar a:active {
  text-decoration: none;
  color: #6d6e69;
}

.sidebar li:hover {
  background-color: #efe19b;
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.page-content {
  border-top: 7px solid #f1c40f;
}

.content {
  margin: 20px 40px !important;
}

.title-icons {
  float: left;
  height: 50px;
  margin-right: 10px;
}

.title {
  padding-top: 10px;
  margin-bottom: 20px;
  display: block;
}

.demo-text-box{
  color: #000;
  padding: 7px;
  border:2px solid;
  border-radius:25px;
  border-color:#1abc9c;
  }